.nav_main {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #0a428b;
    height: 70px;
}

.nav_first_part {
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-evenly;
    gap: 10%;
    align-items: center;
    width: 20%;
}

.nav_logo > img {
    width: 70px;
    cursor: pointer;
}

.nav_select_tag > select {
    /* border: 1px solid; */
    background-color: #0a428b;
    color: white;
    cursor: pointer;
}

.nav_second_part {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-around;
    width: 50%;
    color: white;
}

.nav_second_part > div {
    cursor: pointer;
    display: inline-block;
    position: relative;
    /* color: #0087ca; */
}

.nav_second_part > div:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav_second_part > div:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* responvieness styles */
.nav_responsive_part {
    display: none;
}



@media (max-width: 990px) {
    .nav_second_part {
        display: none;
    }
    .nav_responsive_part {
        width: 20%;
        padding: 0px 20px;
        /* border: 1px solid red; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 24px;
    }
}